.st-container {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	font-family: 'Josefin Slab', 'Myriad Pro', Arial, sans-serif;
}

.st-container > input,
.st-container > a {
	position: fixed;
	bottom: 0px;
	width: 25%;
	cursor: pointer;
	font-size: 16px;
	height: 34px;
	line-height: 34px;
}

.st-container > input {
	opacity: 0;
	z-index: 1000;
}

.st-container > a {
	z-index: 10;
	font-weight: 700;
	background: #4D8CD7; 
	color: #fff; 
	text-align: center;
	text-shadow: 1px 1px 1px rgba(0,98,215,0.2); 
}

/* "Fix" for percentage rounding: add a background bar pseudo element with the same color like the labels */
.st-container:before {
	content: '';
	position: fixed;
	width: 100%;
	height: 34px;
	background: #0062D7; 
	z-index: 9;
	bottom: 0;
}

#st-control-1, #st-control-1 + a {
	left: 0;
}

#st-control-2, #st-control-2 + a {
	left: 25%;
}

#st-control-3, #st-control-3 + a {
	left: 50%;
}

#st-control-4, #st-control-4 + a {
	left: 75%;
}


.st-container > input:checked + a,
.st-container > input:checked:hover + a{
	background: #0062D7;
}

.st-container > input:checked + a:after,
.st-container > input:checked:hover + a:after{
	bottom: 100%;
	border: solid transparent;
	content: '';
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #0062D7; 
	border-width: 20px;
	left: 50%;
	margin-left: -20px;
}

.st-container > input:hover + a{
	background: #0062D7;
}

.st-container > input:hover + a:after {
	border-bottom-color: #0062D7; 
}

.st-scroll,
.st-panel {
	position: relative;
	width: 100%;
	height: 100%;
}

.st-scroll {
	top: 0;
	left: 0;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
	-ms-transition: all 0.6s ease-in-out;
	transition: all 0.6s ease-in-out;
	
	/* Let's enforce some hardware acceleration */
	-webkit-transform: translate3d(0, 0, 0);
	-webkit-backface-visibility: hidden;
}

.st-panel{
	background: #fff;
	overflow: auto;
} 

#st-control-1:checked ~ .st-scroll {
	-webkit-transform: translateY(0%);
	-moz-transform: translateY(0%);
	-o-transform: translateY(0%);
	-ms-transform: translateY(0%);
	transform: translateY(0%);
}
#st-control-2:checked ~ .st-scroll {
	-webkit-transform: translateY(-100%);
	-moz-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	transform: translateY(-100%);
}
#st-control-3:checked ~ .st-scroll {
	-webkit-transform: translateY(-200%);
	-moz-transform: translateY(-200%);
	-o-transform: translateY(-200%);
	-ms-transform: translateY(-200%);
	transform: translateY(-200%);
}
#st-control-4:checked ~ .st-scroll {
	-webkit-transform: translateY(-300%);
	-moz-transform: translateY(-300%);
	-o-transform: translateY(-300%);
	-ms-transform: translateY(-300%);
	transform: translateY(-300%);
}


/* Content elements */

.st-deco{
	width: 200px;
	height: 200px;
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -100px;
	background: #91ADDC; 
	-webkit-transform: translateY(-50%) rotate(45deg);
	-moz-transform: translateY(-50%) rotate(45deg);
	-o-transform: translateY(-50%) rotate(45deg);
	-ms-transform: translateY(-50%) rotate(45deg);
	transform: translateY(-50%) rotate(45deg);
}

[data-icon]:after {
    content: attr(data-icon);
    font-family: 'RaphaelIcons';
    color: #fff;
	text-shadow: 1px 1px 1px rgba(0,98,215,0.2); 
	position: absolute;
	width: 200px;
	height: 200px;
	line-height: 200px;
	text-align: center;
	font-size: 90px;
	top: 50%;
	left: 50%;
	margin: -100px 0 0 -100px;
	-webkit-transform: rotate(-45deg) translateY(25%);
	-moz-transform: rotate(-45deg) translateY(25%);
	-o-transform: rotate(-45deg) translateY(25%);
	-ms-transform: rotate(-45deg) translateY(25%);
	transform: rotate(-45deg) translateY(25%);
}

.st-panel h2 {
	color: #91ADDC; 
	text-shadow: 1px 1px 1px rgba(0,98,215,0.2); 
	position: absolute;
	font-size: 54px;
	font-weight: 900;
	width: 80%;
	left: 10%;
	text-align: center;
	line-height: 50px;
	margin: -160px 0 0 0;
	padding: 0;
	top: 50%;
	-webkit-backface-visibility: hidden;
}

#st-control-1:checked ~ .st-scroll #st-panel-1 h2,
#st-control-2:checked ~ .st-scroll #st-panel-2 h2,
#st-control-3:checked ~ .st-scroll #st-panel-3 h2,
#st-control-4:checked ~ .st-scroll #st-panel-4 h2,
#st-control-5:checked ~ .st-scroll #st-panel-5 h2{
	-webkit-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveDown 0.6s ease-in-out 0.2s backwards;
	animation: moveDown 0.6s ease-in-out 0.2s backwards;
}
@-webkit-keyframes moveDown{
	0% { 
		-webkit-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveDown{
	0% { 
		-moz-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveDown{
	0% {
		-o-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveDown{
	0% { 
		-ms-transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveDown{
	0% { 
		transform: translateY(-40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

.st-panel h3 {
    font-size: 2em;
	font-weight: 300;
	margin: 0 0 0.15em;
	color: #fff;
}

.st-panel h4 {
	padding: 0 0 0.5em;
	margin: 20px 5px 0px 0px;
	text-align: justify;
	font-weight: 350;
	color: #fff;
}

.st-panel p {
	position: absolute;
	text-align: center;
	font-size: 16px;
	line-height: 22px;
	color: #8b8b8b;  
	z-index: 2;
	padding: 0;
	width: 50%;
	left: 25%;
	top: 50%;
	margin: -70px 0 0 0;
	-webkit-backface-visibility: hidden;
}
#st-control-1:checked ~ .st-scroll #st-panel-1 p,
#st-control-2:checked ~ .st-scroll #st-panel-2 p,
#st-control-3:checked ~ .st-scroll #st-panel-3 p,
#st-control-4:checked ~ .st-scroll #st-panel-4 p,
#st-control-5:checked ~ .st-scroll #st-panel-5 p{
	-webkit-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-moz-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-o-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	-ms-animation: moveUp 0.6s ease-in-out 0.2s backwards;
	animation: moveUp 0.6s ease-in-out 0.2s backwards;
}


@-webkit-keyframes moveUp{
	0% { 
		-webkit-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-webkit-transform: translateY(0px);  
		opacity: 1;
	}
}

@-moz-keyframes moveUp{
	0% { 
		-moz-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-moz-transform: translateY(0px);  
		opacity: 1;
	}
}

@-o-keyframes moveUp{
	0% { 
		-o-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-o-transform: translateY(0px);  
		opacity: 1;
	}
}

@-ms-keyframes moveUp{
	0% { 
		-ms-transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		-ms-transform: translateY(0px);  
		opacity: 1;
	}
}

@keyframes moveUp{
	0% { 
		transform: translateY(40px); 
		opacity: 0;
	}
	100% { 
		transform: translateY(0px);  
		opacity: 1;
	}
}

/* Colored sections */

.st-color,
.st-deco{
	background: #91ADDC;  
}
.st-color [data-icon]:after {
	color: #91ADDC;  
}
.st-color .st-deco {
	background: #fff;
}
.st-color h2 {
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.1);
} 
.st-color p {
	color: #fff;
	color: rgba(255,255,255,0.8);
}

@media screen and (max-width: 520px) {
	.st-panel h2 {
		font-size: 42px;
	}
	
	.st-panel p {
		width: 90%;
		left: 5%;
		margin-top: 0;
	}
	
	.st-container > a {
		font-size: 13px;
	}
}
@media screen and (max-width: 360px) {
	.st-container > a {
		font-size: 10px;
	}
	
	.st-deco{
		width: 120px;
		height: 120px;
		margin-left: -60px;
	}
	
	[data-icon]:after {
		font-size: 60px;
		-webkit-transform: rotate(-45deg) translateY(15%);
		-moz-transform: rotate(-45deg) translateY(15%);
		-o-transform: rotate(-45deg) translateY(15%);
		-ms-transform: rotate(-45deg) translateY(15%);
		transform: rotate(-45deg) translateY(15%);
	}
}

/* 价格表 */
.pricing {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	flex-wrap: wrap;
	-webkit-justify-content: center;
	justify-content: center; 
	width: 100%;
	margin: 0 auto 3em;
}

.pricing__standard {
	position: relative; 
	display: -webkit-flex;
	display: flex;
	-webkit-flex-direction: column;
	flex-direction: column;
	-webkit-align-items: stretch;
	align-items: stretch;
	text-align: left; 
	-webkit-flex: 0 1 330px;
	flex: 0 1 330px; 
	font-family: 'Roboto Condensed', sans-serif;
	margin: 0.5em; 
	margin-top: 500px;
 	padding: 0.5em 2.5em; 
 	color: #fff;
 	background: #367FD7;
}


.pricing__price {
	font-size: 2em;
	font-weight: 300;
	padding: 0.85em 0; 
}


.pricing__currency {
	font-size: 0.45em;
	vertical-align: super;
	color: #fff;
}

.pricing__period {
	font-size: 0.45em;
	padding: 0 0 0 0.5em;
	color: #fff;
}

.pricing__process-list {
    text-align: left; 
	font-size: 0.95em;
	line-height: 1.5;
	padding: 0 0 2.5em;
	color: #fff;
}

/* QR code pic*/
img {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items:center;
    margin: 0px auto 3em;
}



/*contact session: cute dog effect click */
.MochiShiba path,
.MochiPaws path {
  fill: none;
  stroke: none;
  stroke-width: 1.2;
  stroke-miterlimit: 10;
  stroke-linejoin: round;
  stroke-linecap: round;
}
.MochiShiba .thin,
.MochiPaws .thin {
  stroke-width: 0.8;
}
.MochiShiba #eyes path,
.MochiPaws #eyes path {
  stroke-width: 2;
}
.MochiShiba .fur,
.MochiPaws .fur {
  fill: #dd9e47;
}
.MochiShiba .fur2,
.MochiPaws .fur2 {
  fill: white;
}
.MochiShiba .inner,
.MochiPaws .inner {
  fill: white;
}
.MochiShiba .outline,
.MochiPaws .outline {
  stroke: #4e2e0f;
}
.MochiShiba .nose, .MochiShiba .eye,
.MochiPaws .nose,
.MochiPaws .eye {
  fill: #3c2012;
}
.MochiShiba .gleam,
.MochiPaws .gleam {
  fill: white;
}
.MochiShiba #laugh .eye,
.MochiPaws #laugh .eye {
  fill: none;
}
.MochiShiba .tongue,
.MochiPaws .tongue {
  fill: #f2a3ad;
}
.MochiShiba .drool,
.MochiPaws .drool {
  fill: #41b5dd;
}
.MochiShiba .scarf,
.MochiPaws .scarf {
  fill: #002a57;
}
.MochiShiba .logo,
.MochiPaws .logo {
  fill: white;
}
.MochiShiba #cheeks .right,
.MochiPaws #cheeks .right {
  fill: url(#cheeks);
}
.MochiShiba #cheeks .left,
.MochiPaws #cheeks .left {
  fill: url(#cheeks-2);
}

.MochiShiba #cheeks {
  visibility: hidden;
}
.MochiShiba #ears #left1,
.MochiShiba #ears #right2,
.MochiShiba #ears #left3,
.MochiShiba #ears #right3 {
  visibility: hidden;
}
.MochiShiba #eyes #wink,
.MochiShiba #eyes #shy,
.MochiShiba #eyes #laugh,
.MochiShiba #eyes .gleam {
  visibility: hidden;
}
.MochiShiba #brows #expecting {
  visibility: hidden;
}
.MochiShiba [id^=mouth] {
  visibility: hidden;
}
.MochiShiba [id^=mouth1] {
  visibility: visible;
}
.MochiShiba #base #outline2,
.MochiShiba #base #outline3 {
  visibility: hidden;
}
.MochiShiba #base #top2,
.MochiShiba #base #top3 {
  visibility: hidden;
}

.MochiShiba.blush #cheeks {
  visibility: visible;
}
.MochiShiba.content [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.happy [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.happy #mouth2 {
  visibility: visible;
}
.MochiShiba.excited [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.excited #mouth3 {
  visibility: visible;
}
.MochiShiba.cute #brows #expecting {
  visibility: visible;
}
.MochiShiba.cute #brows #focussed {
  visibility: hidden;
}
.MochiShiba.cute [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.cute #mouth4 {
  visibility: visible;
}
.MochiShiba.drool [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.drool #mouth5 {
  visibility: visible;
}
.MochiShiba.cheeky [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.cheeky #mouth6 {
  visibility: visible;
}
.MochiShiba.gleam #brows #expecting {
  visibility: visible;
}
.MochiShiba.gleam #brows #focussed {
  visibility: hidden;
}
.MochiShiba.gleam #snout {
  -webkit-transform: translateY(-3%);
          transform: translateY(-3%);
}
.MochiShiba.gleam #brows {
  -webkit-transform: translateY(-5%);
          transform: translateY(-5%);
}
.MochiShiba.gleam #eyes {
  -webkit-transform: translateY(-4.5%);
          transform: translateY(-4.5%);
}
.MochiShiba.gleam #eyes #open .eye.left {
  -webkit-transform: matrix(0.7, -0.7, 0.7, 0.7, -31.2, 54.3) scale(1.2);
          transform: matrix(0.7, -0.7, 0.7, 0.7, -31.2, 54.3) scale(1.2);
}
.MochiShiba.gleam #eyes #open .eye.right {
  -webkit-transform: translate(-27.5px, 83px) rotate(-42.36deg) scale(1.2);
          transform: translate(-27.5px, 83px) rotate(-42.36deg) scale(1.2);
}
.MochiShiba.gleam #cheeks {
  -webkit-transform: translateY(-4%);
          transform: translateY(-4%);
}
.MochiShiba.gleam [id^=mouth] {
  visibility: hidden;
}
.MochiShiba.gleam #mouth1 {
  visibility: visible;
}
.MochiShiba.ears #ears > g {
  visibility: hidden;
}
.MochiShiba.ears.l1 #ears > #left1 {
  visibility: visible;
}
.MochiShiba.ears.l2 #ears > #left2 {
  visibility: visible;
}
.MochiShiba.ears.l3 #ears > #left3 {
  visibility: visible;
}
.MochiShiba.ears.l4 #ears > #left4 {
  visibility: visible;
}
.MochiShiba.ears.r1 #ears > #right1 {
  visibility: visible;
}
.MochiShiba.ears.r2 #ears > #right2 {
  visibility: visible;
}
.MochiShiba.ears.r3 #ears > #right3 {
  visibility: visible;
}
.MochiShiba.ears.r4 #ears > #right4 {
  visibility: visible;
}
.MochiShiba.ears #base [id^=outline],
.MochiShiba.ears #base [id^=top] {
  visibility: hidden;
}
.MochiShiba.ears.l1.r1 #base #outline2,
.MochiShiba.ears.l1.r1 #base #top2, .MochiShiba.ears.l4.r4 #base #outline2,
.MochiShiba.ears.l4.r4 #base #top2 {
  visibility: visible;
}
.MochiShiba.ears.l1.r2 #base #outline1,
.MochiShiba.ears.l1.r2 #base #top2, .MochiShiba.ears.l1.r4 #base #outline1,
.MochiShiba.ears.l1.r4 #base #top2 {
  visibility: visible;
}
.MochiShiba.ears.l1.r3 #base #outline3,
.MochiShiba.ears.l1.r3 #base #top3 {
  visibility: visible;
}
.MochiShiba.ears.l2.r1 #base #outline1,
.MochiShiba.ears.l2.r1 #base #top1, .MochiShiba.ears.l4.r1 #base #outline1,
.MochiShiba.ears.l4.r1 #base #top1 {
  visibility: visible;
}
.MochiShiba.ears.l2.r2 #base #outline1,
.MochiShiba.ears.l2.r2 #base #top2, .MochiShiba.ears.l4.r2 #base #outline1,
.MochiShiba.ears.l4.r2 #base #top2, .MochiShiba.ears.l2.r4 #base #outline1,
.MochiShiba.ears.l2.r4 #base #top2 {
  visibility: visible;
}
.MochiShiba.ears.l2.r3 #base #outline3,
.MochiShiba.ears.l2.r3 #base #top3, .MochiShiba.ears.l4.r3 #base #outline3,
.MochiShiba.ears.l4.r3 #base #top3 {
  visibility: visible;
}
.MochiShiba.ears.l3.r1 #base #outline2,
.MochiShiba.ears.l3.r1 #base #top1 {
  visibility: visible;
}
.MochiShiba.ears.l3.r2 #base #outline1,
.MochiShiba.ears.l3.r2 #base #top1 {
  visibility: visible;
}
.MochiShiba.ears.l3.r4 #base #outline1,
.MochiShiba.ears.l3.r4 #base #top2 {
  visibility: visible;
}
.MochiShiba.ears.l3.r3 #base #outline3,
.MochiShiba.ears.l3.r3 #base #top3 {
  visibility: visible;
}
.MochiShiba.eyes #eyes .eye {
  visibility: hidden;
}
.MochiShiba.eyes.open #open .eye.left, .MochiShiba.eyes.lopen #open .eye.left {
  visibility: visible;
}
.MochiShiba.eyes.open #open .eye.right, .MochiShiba.eyes.ropen #open .eye.right {
  visibility: visible;
}
.MochiShiba.eyes.wink #wink .eye.left, .MochiShiba.eyes.lwink #wink .eye.left {
  visibility: visible;
}
.MochiShiba.eyes.wink #wink .eye.right, .MochiShiba.eyes.rwink #wink .eye.right {
  visibility: visible;
}
.MochiShiba.eyes.laugh #laugh .eye.left, .MochiShiba.eyes.llaugh #laugh .eye.left {
  visibility: visible;
}
.MochiShiba.eyes.laugh #laugh .eye.right, .MochiShiba.eyes.rlaugh #laugh .eye.right {
  visibility: visible;
}
.MochiShiba.eyes.shy #shy .eye.left, .MochiShiba.eyes.lshy #shy .eye.left {
  visibility: visible;
}
.MochiShiba.eyes.shy #shy .eye.right, .MochiShiba.eyes.rshy #shy .eye.right {
  visibility: visible;
}
.MochiShiba.eyes.open.gleam #open .gleam, .MochiShiba.eyes.lopen.gleam #open .gleam.left {
  visibility: visible;
}
.MochiShiba.eyes.ropen.gleam #open .gleam.right {
  visibility: visible;
}

.ume .fur {
  fill: white;
}
.ume .fur2 {
  fill: white;
}
.ume .inner {
  fill: #f9c7bd;
}
.ume #brows .fur2 {
  fill: #f7d6b9;
}
.ume .scarf {
  fill: #b3122d;
}

.sesame .outline {
  stroke: #3c2012;
}
.sesame .fur {
  fill: #140d0b;
}
.sesame .fur2 {
  fill: #e8c6ac;
}
.sesame .inner {
  fill: #e8c6ac;
}

.monaka .fur {
  fill: #d7b087;
}
.monaka .scarf {
  fill: #6b9dc4;
}

.sakura .fur {
  fill: #fcdacd;
}
.sakura .inner {
  fill: #f1aeb3;
}
.sakura .scarf {
  fill: #f2a3ad;
}

.kinako .fur {
  fill: #fdecc0;
}
.kinako .scarf {
  fill: #356320;
}

.anko .fur {
  fill: #ac8569;
}
.anko .scarf {
  fill: #356320;
}

.tuna .outline {
  stroke: #3c2012;
}
.tuna .fur {
  fill: #603d1e;
}
.tuna .fur2 {
  fill: #fad4af;
}
.tuna .inner {
  fill: #fad4af;
}
.tuna .eye {
  fill: #3c2012;
}

.MochiBox.pop .paws, .MochiBox:hover .paws, .MochiBox:active .paws, .MochiBox:focus .paws {
  -webkit-animation: paw-pop 0.3s ease 1 both;
          animation: paw-pop 0.3s ease 1 both;
}
.MochiBox.pop .shiba, .MochiBox:hover .shiba, .MochiBox:active .shiba, .MochiBox:focus .shiba {
  -webkit-animation: shiba-pop 1s ease 1 both;
          animation: shiba-pop 1s ease 1 both;
}
.MochiBox.pop .eyes.open:not(.cheeky):not(.gleam) [id^=mouth], .MochiBox:hover .eyes.open:not(.cheeky):not(.gleam) [id^=mouth], .MochiBox:active .eyes.open:not(.cheeky):not(.gleam) [id^=mouth], .MochiBox:focus .eyes.open:not(.cheeky):not(.gleam) [id^=mouth] {
  -webkit-animation: shiba-wink-open 10s infinite linear both;
          animation: shiba-wink-open 10s infinite linear both;
}
.MochiBox.pop .eyes.open:not(.cheeky):not(.gleam) #mouth6, .MochiBox:hover .eyes.open:not(.cheeky):not(.gleam) #mouth6, .MochiBox:active .eyes.open:not(.cheeky):not(.gleam) #mouth6, .MochiBox:focus .eyes.open:not(.cheeky):not(.gleam) #mouth6 {
  visibility: visible;
  -webkit-animation: shiba-wink-closed 10s infinite linear both;
          animation: shiba-wink-closed 10s infinite linear both;
}
.MochiBox.pop .eyes.open:not(.cheeky):not(.gleam) #open .left, .MochiBox:hover .eyes.open:not(.cheeky):not(.gleam) #open .left, .MochiBox:active .eyes.open:not(.cheeky):not(.gleam) #open .left, .MochiBox:focus .eyes.open:not(.cheeky):not(.gleam) #open .left {
  -webkit-animation: shiba-wink-open 10s infinite linear both;
          animation: shiba-wink-open 10s infinite linear both;
}
.MochiBox.pop .eyes.open:not(.cheeky):not(.gleam) #wink .eye.left, .MochiBox:hover .eyes.open:not(.cheeky):not(.gleam) #wink .eye.left, .MochiBox:active .eyes.open:not(.cheeky):not(.gleam) #wink .eye.left, .MochiBox:focus .eyes.open:not(.cheeky):not(.gleam) #wink .eye.left {
  visibility: visible;
  -webkit-animation: shiba-wink-closed 10s infinite linear both;
          animation: shiba-wink-closed 10s infinite linear both;
}

.MochiBox {
    display: inline-block;
    position: relative;
    vertical-align: top;
    display: flex;
    width: 300px;
    height: 300px;
    margin: 0 auto;
    margin-top: 400px;

  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
    z-index: 0;


}

.MochiBox .MochiShiba {
  z-index: 0;
}
.MochiBox .MochiPaws {
  z-index: 2;
}
.MochiBox:hover, .MochiBox:active, .MochiBox:focus {
  outline: none;
}
.MochiBox:hover .MochiContent, .MochiBox:active .MochiContent, .MochiBox:focus .MochiContent {
  border-color: #5f3d1e;
}


/*框*/
.MochiBox .MochiContent {
  z-index: 1;
  position: relative;
  min-width: 300px;
  min-height: 300px;
  padding: 40px;
  background: white;
  border: 1px solid #f0e0d1;
  border-radius: 20px;
  transition: border 0.5s ease;
}



.MochiShiba,
.MochiPaws {
  position: absolute;
  left: 12.5%;
  top: 0;
  pointer-events: none;
  width: 75%;
  max-width: 200px;
}
.MochiShiba.small,
.MochiPaws.small {
  max-width: 100px;
}
.MochiShiba.large,
.MochiPaws.large {
  max-width: 300px;
}
.MochiShiba .shiba,
.MochiPaws .shiba {
  width: 100%;
  height: auto;
  -webkit-transform: translateY(-54%);
          transform: translateY(-54%);
  -webkit-animation: shiba-hide 0.5s ease 1 both;
          animation: shiba-hide 0.5s ease 1 both;
  -webkit-transform-origin: bottom center;
          transform-origin: bottom center;
}
.MochiShiba .paws,
.MochiPaws .paws {
  width: 100%;
  height: auto;
  position: absolute;
  left: 0;
  top: 40%;
  -webkit-transform: translateY(-60%);
          transform: translateY(-60%);
  -webkit-animation: paw-hide 0.25s ease 1 both;
          animation: paw-hide 0.25s ease 1 both;
}

@-webkit-keyframes paw-hide {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-65%) scale(0.9);
            transform: translateY(-65%) scale(0.9);
  }
}

@keyframes paw-hide {
  100% {
    opacity: 0;
    -webkit-transform: translateY(-65%) scale(0.9);
            transform: translateY(-65%) scale(0.9);
  }
}
@-webkit-keyframes paw-pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.75);
            transform: translateY(-50%) scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  100% {
    -webkit-transform: translateY(-60%) scaleY(1);
            transform: translateY(-60%) scaleY(1);
  }
}
@keyframes paw-pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-50%) scale(0.75);
            transform: translateY(-50%) scale(0.75);
  }
  50% {
    opacity: 1;
    -webkit-transform: translateY(-70%);
            transform: translateY(-70%);
  }
  100% {
    -webkit-transform: translateY(-60%) scaleY(1);
            transform: translateY(-60%) scaleY(1);
  }
}
@-webkit-keyframes shiba-hide {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-54%) scale(1);
            transform: translateY(-54%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }
}
@keyframes shiba-hide {
  0% {
    opacity: 1;
    -webkit-transform: translateY(-54%) scale(1);
            transform: translateY(-54%) scale(1);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }
}
@-webkit-keyframes shiba-pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }
  22% {
    opacity: 1;
    -webkit-transform: translateY(-25%) scale(0.5);
            transform: translateY(-25%) scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-64%) scale(1.01);
            transform: translateY(-64%) scale(1.01);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-54%) scale(1.01);
            transform: translateY(-54%) scale(1.01);
  }
}
@keyframes shiba-pop {
  0% {
    opacity: 0;
    -webkit-transform: translateY(0%) scale(0.5);
            transform: translateY(0%) scale(0.5);
  }
  22% {
    opacity: 1;
    -webkit-transform: translateY(-25%) scale(0.5);
            transform: translateY(-25%) scale(0.5);
  }
  60% {
    opacity: 1;
    -webkit-transform: translateY(-64%) scale(1.01);
            transform: translateY(-64%) scale(1.01);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(-54%) scale(1.01);
            transform: translateY(-54%) scale(1.01);
  }
}
@-webkit-keyframes shiba-wink-open {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@keyframes shiba-wink-open {
  0% {
    opacity: 1;
  }
  6% {
    opacity: 1;
  }
  7% {
    opacity: 0;
  }
  12% {
    opacity: 0;
  }
  13% {
    opacity: 1;
  }
  100% {
    opacity: 1;
  }
}
@-webkit-keyframes shiba-wink-closed {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes shiba-wink-closed {
  0% {
    opacity: 0;
  }
  6% {
    opacity: 0;
  }
  7% {
    opacity: 1;
  }
  12% {
    opacity: 1;
  }
  13% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
body {
  color: black;
  padding: 20px;
  font-family: "Baloo", cursive;
}

h12 {
  font-size: 20px;
  margin: 5px 0 0;
  font-weight: 600;
  font-family: "Kosugi Maru";
}

h13 {
  font-size: 32px;
  margin: 0 0 5px;
  font-weight: 200;
  letter-spacing: -0.06em;
  line-height: 0.8;
}

h0, h11 {
  margin: 5px 0;
}

h11 {
  line-height: 0.7;
}

/*米店*/
p.shop {
  background: #002a57;
  border-radius: 20px;
  display: inline-block;
  color: white;
  font-size: 12px;
  font-family: "Kosugi Maru";
  padding: 3px 6px;
}

/*团子*/
p.shop.uemachi {
  background: #356320;
}

a {
  color: inherit;
  text-decoration: none;
}
a.show, a:hover {
  color: #002a57;
}

.sub {
  font-family: Arial;
}

button {
  color: #301d0b;
  margin-top: 50px;
  background: #c2ab96;
  border: 1px solid transparent;
  border-radius: 5px;
  padding: 8px 12px;
  font-family: monaco, consolas, "courier new", monospace;
  cursor: pointer;
}
button:hover {
  border-color: #5f3d1e;
}

* {
  box-sizing: border-box;
}



